/* text colors */
$title-color: #ffffff;
$pagination-color: #000000;
$alert-text-color: #ff001b;
$footer-text-color: #545454;
$accent-color: #ff6b08;
$hover-rating-color: #ff6b01;
$modalCard-main-text-color: #000000;
$modalCard-second-text-color: #8c8c8c;
$dodgerblue-color: rgb(30, 144, 255);

/* background colors */
$main-section-background-color: #e5e5e5;
$footer-background-color: #f7f7f7;
$header-gradient-color: rgba(0, 0, 0, 0.56);
$modalCard-section-background-color: #ffffff;

/* fonts */
$mainFont: "Roboto", sans-serif;