<div class="modal-backdrop backdrop--is-hidden js-backdrop">
  <div class="container modal__container">
    <button class="modal__close-btn js-modal__dev-close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#close-icon"></use>
      </svg>
    </button>
    <h2 class="modal__dev-heading">Developers</h2>
    <ul class="modal__dev-list">
      <li class="modal__dev-item">
        <a href="https://github.com/andr3008" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Andrei Potapov</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Team Lead</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/ZjeniiaSt" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Zheniia Stupjak</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Scrum Master, Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/ArtemKolesnyk" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Artem Kolesnyk</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/Maryna-Bazylevska" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Maryna Bazylevska</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/ToyEye" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Oleksii Korotenko</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/Shellma2011" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Maryna Shevchenko</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/shopoff98" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Ilya Shopov</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/Darynessans" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Daryna Beloshapka</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
      <li class="modal__dev-item">
        <a href="https://github.com/galiovets" target="_blank" class="modal__dev-link">
          <h3 class="modal__dev-title">Maria Galiovets</h3>
          <svg class="modal__dev-icon" width="14" height="12">
            <use href="./images/symbol-defs.svg#github-icon"></use>
          </svg>
          <p class="modal__dev-text">Developer</p>
        </a>
      </li>
    </ul>
  </div>
</div>
