 <!--предварительный загрузчик-->
    <div class="preloader">
      <div class="circles-group">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="text">СЕЙЧАС ЗАГРУЖАЕТСЯ</div>
      <!--предварительный загрузчик-->
    </div>
    
    <div class="">
      <header>
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <a class="logo" href="./index" aria-label="logo-filmoteka">
                  <svg class="logo__icon" width="24" height="24">
                    <use href=""></use>
                  </svg>
                  <span class="logo__text">Filmoteka </span>
                </a>
              </div>
              <nav class="site-nav">
                <button
                  id="home-button"
                  class=""
                  type="button"
                  aria-label="main page switch"
                >
                  домой
                </button>
                <button
                  id="library-button"
                  class=""
                  type="button"
                  aria-label="library page switch"
                >
                  Моя библиотека
                </button>
              </nav>
              <div class="user-box">
                <button class="signup" type="button">
                  зарегестрироваться
                </button>
                <button class="signin" type="button">
                  войти
                </button>
                <button
                  class="logout"
                  type="button"
                >
                  выйти
                </button>
              </div>
            </div>
                <!-- поисковый контейнер -->
            <div class="search-container">
                <!-- иконка микрофона для голосового поиска -->
              <span class="search__input-wrapper">
                <svg
                  class="microphone"
                  width="20"
                  height="20"
                  aria-label="microphone"
                >
                  <use href=""></use>
                </svg>
                <!-- ввод поиска-->

                <input
                  class="search__input"
                  type="text"
                  name="search"
                  autocomplete="off"
                  aria-label="искать фильм"
                  placeholder="искать фильм по названию"
                  contenteditable
                />
              </span>
              <p class="no-results"></p>
            </div>
            <div class="button-container visually-hidden">
              <button class="button watched-button" type="button">
                смотреть
              </button>
              <button class="button queue-button" type="button">в очередь</button>
            </div>
          </div>
        </div>
      </header>
      <!-- фильтр для поска по категориях -->
      <div class="container">
        <section class="filter-section">
          <h2 class="filter-text">Найдите для себя лучшие фильмы</h2>
          <select class="filter-input" name="category-films" id="category-films">
            <option >Выбрать жанр</option>
            <option >Екшин</option>
            <option >Приключения</option>
            <option >Воодушевлкние</option>
            <option >Комедия</option>
            <option >Криминал</option>
            <option >Документальные</option>
            <option >Драма</option>
            <option >История</option>
            <option >Ужасы</option>
            <option >Музыкальные</option>
            <option >Романсы</option>
            <option >Научная фантастика</option>
            <option >ТВ фильм</option>
            <option >Триллеры</option>
            <option >Война</option>
            <option >Вестерн</option>
          </select>
          <select
            class="filter-input"
            name="year-of-issue"
            id="year-of-issue"
          ></select>
        </section>
      </div>

      <!-- фильтр -->

      <!-- спинер -->
      <div class="">
        <div class="spin"></div>
      </div>
      <!-- спинер -->

      <!-- </header> -->

      <!-- спинер -->
      <div class="square is-hidden">
        <div class="spin"></div>
      </div>
      <!-- спинер -->

      <section class="">
        <ul class=""></ul>
        <!--пагинация-->
        <div class="">
          <button class="" type="button"></button>
          <div class=""></div>
          <button class="" type="button"></button>
        </div>
        <!--пагинация-->
      </section>
    </div>
    <footer class="footer">
      <div class="">
        <p class="">
          &копия 2020 | Все права защищены |
        </p>
        <p class="">
          Разработано <svg
            class=""
            width="14"
            height="13"
          >
            <use href="heart"></use>
          </svg>
          <button class="" type="button">
            студентами GoIT
          </button>
        </p>
      </div>
    </footer>
    <!-- </div> -->

    <!-- лайтбокс-->
    <div class="lightbox js-lightbox">
      <div class="lightbox__overlay"></div>
      <div class="lightbox__content">
        <div class="lightbox__card"></div>
        <button
          type="button"
          class="lightbox__button"
          data-action="close-lightbox"
        ></button>
      </div>
    </div>
    <!--лайтбокс-->

    <div class="backdrop is-hidden" data-modal-signup>
      <div class="modal modal-signup">
        <div class="signup-spinner is-hidden">
          <div class="spin"></div>
        </div>
        <div class="signup-wpapper">
          <h2 class="modal__title">Sign up</h2>
          <form action="" class="modal__form-registration">
            <ul class="modal__list-input list">
              <li class="modal__list-item">
                <label class="modal__label"
                  >Email<input
                    type="email"
                    name="email"
                    class="modal__field-input"
                  />
                  <svg width="18" height="18" class="modal__icon">
                    <use href=""></use>
                  </svg>
                </label>
              </li>
              <li class="modal__list-item">
                <label class="modal__label"
                  >Password<input
                    type="password"
                    name="pass"
                    class="modal__field-input"
                  />
                  <svg width="18" height="18" class="modal__icon">
                    <use href=""></use>
                  </svg>
                </label>
              </li>
              <li class="modal__list-item">
                <label class="modal__label"
                  >Repeat password<input
                    type="password"
                    name="secondpass"
                    class="modal__field-input"
                  />
                  <svg width="18" height="18" class="modal__icon">
                    <use href=""></use>
                  </svg>
                </label>
              </li>
            </ul>
            <button type="submit" class="modal__button">зарегестрироваться</button>
          </form>
        </div>
      </div>
    </div>
    <div class="backdrop is-hidden" data-modal-signin>
      <div class="modal modal-signin">
        <div class="signin-spinner is-hidden">
          <div class="spin"></div>
        </div>
        <div class="signin-wpapper">
          <h2 class="modal__title">войти</h2>

          <form action="" class="modal__form-login">
            <ul class="modal__list-input list">
              <li class="modal__list-item">
                <label class="modal__label"
                  >Email<input
                    type="email"
                    name="email"
                    class="modal__field-input"
                  />
                  <svg width="18" height="18" class="modal__icon">
                    <use href=""></use>
                  </svg>
                </label>
              </li>
              <li class="modal__list-item">
                <label class="modal__label"
                  >Password<input
                    type="password"
                    name="pass"
                    class="modal__field-input pass-js"
                  />
                  <svg width="18" height="18" class="modal__icon">
                    <use href=""></use>
                  </svg>
                  <button type="button" class="show-pass">
                    <svg width="18" height="18" class="modal__icon">
                      <use href=""></use>
                    </svg>
                  </button>
                </label>
              </li>
            </ul>
            <button type="submit" class="modal__button">войти</button>
          </form>
          <p class="divider">OR</p>
          <button class="google-signin">
            <svg width="20" height="20" class="google-icon">
              <use href=""></use>
            </svg>
            Зарегистрируйтесь с помощью Google
          </button>
          <div class="signup-now">
            <p class="signup-now__text">Not a member?</p>
            <button class="signup-now__button">Войти Сейчас</button>
          </div>
        </div>
      </div>
    </div>
    <template id="st-light-box-template">
     <ul class="authors-list">
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Artem Kolesnyk<a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Андрей Потапов<a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Ilya Shopov<a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Женя S7<a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Daryna Beloshapka<a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
        <li class="authors-list__item">
          <img
            class="authors-list__item__image"
            src=""
            alt="student photo"
          />
          <div class="authors-list__item__descr">
            Maria Galiovets <a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
          <div class="authors-list__item__descr">
            Maryna Shevchenko <a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
          <div class="authors-list__item__descr">
            Maryna <a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
          <div class="authors-list__item__descr">
            Алексей Коротенко <a
              class="authors-list__item__descr__link"
              target="_blank"
              href=""
            ></a>
          </div>
        </li>
      </ul>
    </template>
    <button type="button" class="scrollTopBtn">&#x2B9D</button>