<div class="container">
    <section class="filter-section">
      <h2 class="filter-text">Find movies</h2>
      <select class="filter-input" name="genrepicker" id="genrepicker">
        <option value="">Choose genre</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
      </select>
    </section>
   </div>