<header class="header">
  <section class="section overlay">
    <div class="container">
      <nav class="navigation">
        <a class="navigation__logo" href="">
          <svg class="icon__logo">
            <use href="/images/symbol-defs.svg#icon-film"></use>
          </svg>
          <h1 class="navigation__title hide">Filmoteka</h1>
        </a>
        <div class="navigation__list">
          <button class="button navigation__button">HOME</button>
          <button class="button navigation__button">MY LIBRARY</button>
        </div>
      </nav>
      <form class="search">
        <label>
          <input type="text" class="search__input" placeholder="Поиск фильмов" />
        </label>
        <button type="button submit" class="search__btn">
          <svg class="search__svg">
            <use href="/images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
        <p class="search__error hide">
          Search result not successful. Enter the correct movie name and
        </p>
      </form>
      <div class="lidrary hide">
        <button type="button" class="button">Watched</button>
        <button type="button" class="button">queue</button>
      </div>
    </div>
  </section>
</header>
