<header class="header">
  <section class="section">
    <div class="container">
      <nav class="navigation">
        <a class="navigation__logo" href="">
          <svg class="icon__logo">
            <use href="/images/symbol-defs.svg#icon-film"></use>
          </svg>
          <h1 class="navigation__title">Filmoteka</h1>
        </a>
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="">HOME</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
      <form class="search">
        <label>
          <input type="text" class="search__input" placeholder="Поиск фильмов" />
        </label>
        <button type="submit" class="search_btn">
          <svg class="search__svg">
            <use href="/images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </section>
</header>
