.scrollToTopBtn {
  position: fixed;
  bottom: 70px;
  right: calc((100% - 20px * 13) / 2);

  z-index: 10;
  opacity: 0;
  transform: translateY(100px);

  transition: all 0.1s ease;
  background-color: $footer-text-color;

  border: none;

  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 48px;
  width: 48px;

  @media screen and (min-width: 480px) {
    right: calc((100% - 30px * 13) / 2);
  }

  @media screen and (min-width: 768px) {
    right: calc((100% - 30px * 25) / 2);
  }

  @media screen and (min-width: 1024px) {
    right: calc((100% - 33px * 30) / 2);
  }
}

.scrollToTopBtn:hover {
  background-color: $hover-rating-color;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.btn__arrowUp-icon {
  width: 18px;
  height: 18px;
  stroke: none;
  fill: currentColor;
}