.basicLightbox--visible {
  overflow: auto !important;
}

.basicLightbox {
  align-items: stretch !important;
}

.modal__close-icon {
  top: 12px;
  right: 15px;
}

.modal__close-icon:hover {
  fill: $hover-rating-color;
}

.modal-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: $modalCard-section-background-color;
  width: 280px;
  height: auto;
  margin-top: 20px;

  padding: 41px 20px 48px 20px;
  transition: opacity 0.3s ease-in;

  background-color: $modalCard-section-background-color;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 768px) {
    width: 620px;
    flex-wrap: nowrap;

    margin-top: 231px;
    padding: 30px 40px;
  }

  @media (min-width: 1024px) {
    width: 882px;
    height: 568px;
    margin-top: 100px;
    padding: 50px 30px 40px 30px;
  }
}

.cardItem__image {
  width: 240px;
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 480px;
  }
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  width: auto;
  height: 100%;
  border-radius: 5px;
}

.cardItem__wrapper {
  width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.cardItem__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $pagination-color;
  text-transform: uppercase;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.cadrItem__item {
  margin-bottom: 20px;
}

.cadrItem__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
}

.cardItem_text {
  width: 69px;
  margin-right: 39px;

  font-size: 12px;
  line-height: 16px;

  color: $modalCard-second-text-color;

  @media screen and (min-width: 1024px) {
    margin-right: 80px;
    padding-bottom: 10px;
  }
}

.cardItem__descr {
  width: 132px;
  font-size: 12px;
  line-height: 16px;

  color: $modalCard-main-text-color;

  @media screen and (min-width: 768px) {
    width: 156px;
  }

  @media screen and (min-width: 1024px) {
    width: 250px;
  }
}

.cardItem__vote_average {
  display: inline-block;
  margin-right: 3px;
  padding: 1px 10px;
  background: $hover-rating-color;
  border-radius: 5px;

  font-size: 12px;
  line-height: 14px;

  color: $title-color;
}

.cardItem__vote_count {
  display: inline-block;
  margin-right: 3px;
  padding: 1px 4px;
  background: $footer-background-color;
  border-radius: 5px;

  font-size: 12px;
  line-height: 14px;

  color: $modalCard-main-text-color;
}

.cardItem__title_data {
  text-transform: uppercase;
}

.cardItem__about {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-transform: uppercase;

  color: $modalCard-main-text-color;
}

.trailer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 25px;
  padding: 4px 5px;
  margin-left: 65px;

  background: $hover-rating-color;
  border-radius: 5px;
  border: 1px solid $hover-rating-color;
  box-sizing: border-box;
  border-radius: 5px;

  font-size: 12px;
  line-height: initial;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (min-width: 768px) {
    margin-left: 65px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 107px;
  }
}

.play-icon {
  margin-right: 7px;
  fill: $title-color;
}

.cardItem__description {
  align-items: center;
  word-wrap: break-word;
  height: auto;
  overflow: hidden;

  font-size: 12px;
  line-height: 20px;

  color: $modalCard-main-text-color;
}

.cardItem__listButton {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.cardItem__button {
  display: block;
  align-items: center;
  word-wrap: break-word;
  width: 113px;
  height: 44px;
  padding: 5px 14px;

  background: $title-color;
  border-radius: 5px;
  border: 1px solid $modalCard-main-text-color;
  box-sizing: border-box;
  border-radius: 5px;

  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $modalCard-main-text-color;

  @media screen and (min-width: 768px) {
    width: 125px;
    padding: 9px 10px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    padding: 9px 12px;
  }
}

.btn__addQueue {
  margin-left: 15px;
}

.cardItem__button:hover {
  background: $hover-rating-color;
  color: $title-color;
  border: 0;
}
