.basicLightbox--visible {
  overflow: auto !important;
}

.basicLightbox {
  align-items: stretch !important;
}

.modal__close-icon {
  // position: absolute;
  top: 12px;
  right: 15px;
}
.modal__close-icon:hover {
  fill: $hover-rating-color;
}
.modal-card {
  position: relative;
  display: flex;
  background-color: #ffffff;
  width: 280px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    background-color: #ffffff;
    width: 620px;

    margin-top: 231px;
    padding: 30px 40px;
  }

  @media (min-width: 1024px) {
    background-color: #ffffff;
    width: 882px;
    margin-top: 100px;
    padding: 50px 30px 40px 30px;
  }
}

.modal__content {
  position: relative;
  display: flex;

  flex-wrap: wrap;

  width: 280px;
  height: auto;
  margin-right: auto;
  margin-left: auto;

  padding: 41px 20px 48px 20px;
  transition: opacity 0.3s ease-in;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);

  @media (min-width: 768px) {
    width: 620px;
  }

  @media (min-width: 1024px) {
    width: 882px;
    height: 568px;
  }
}

.cardItem__image {
  width: 240px;
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 480px;
  }
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  width: 240px;
  height: 357px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: auto;
    height: 100%;
  }
}

.cardItem__wrapper {
  width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.cardItem__name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 50;
  color: #000000;

  text-transform: uppercase;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.1666;
  }
}

.cadrItem__item {
  margin-bottom: 20px;
}

.cadrItem__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
}

.cardItem_text {
  width: 69px;
  margin-right: 39px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
    margin-right: 80px;
  }
}

.cardItem__descr {
  width: 132px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;

  color: #000000;

  @media screen and (min-width: 768px) {
    width: 156px;
  }

  @media screen and (min-width: 1024px) {
    width: 250px;
  }
}

.cardItem__descr:nth-last-child(1) {
  margin-bottom: 10px;
}

.cardItem__vote_average {
  display: inline-block;
  margin-right: 3px;
  padding: 1px 10px;
  background: #ff6b01;
  border-radius: 5px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;

  color: #ffffff;
}

.cardItem__vote_count {
  display: inline-block;
  margin-right: 3px;
  padding: 1px 4px;
  background: #f7f7f7;
  border-radius: 5px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666;

  color: #000000;
}

.cardItem__title_data {
  text-transform: uppercase;
}

.cardItem__about {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  text-transform: uppercase;

  color: #000000;
}

.cardItem__description {
  align-items: center;
  word-wrap: break-word;
  height: auto;
  overflow: hidden;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;

  color: #000000;

  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.cardItem__listButton {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.cardItem__button {
  display: block;
  align-items: center;
  align-items: center;
  word-wrap: break-word;
  width: 113px;
  height: 44px;
  padding: 5px 14px;

  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 768px) {
    width: 125px;
    padding: 9px 10px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    padding: 9px 12px;
  }
}

.btn__addQueue {
  margin-left: 15px;
}

.cardItem__button:hover {
  background: #ff6b01;
  color: #ffffff;
  border: 0;
}
