.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(105, 98, 98, 0.35);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 510px;
  padding: 48px 20px 41px;
  margin: 0;
  background-color: $title-color;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 42px 30px 40px 28px;
    max-width: 618px;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px;
    max-width: 882px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $pagination-color;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.modal__close-icon {
  stroke: currentColor;
}

.modal__dev-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__dev-list {
  text-align: center;
}

.modal__dev-item {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__dev-link {
  color: $accent-color;
  font-size: 13px;
  line-height: 1.33;
  width: 100%;
  &:hover,
  &:focus {
    font-size: 15px;
  }
}

.modal__dev-title {
  display: inline-block;
}

.modal__dev-icon {
  fill: currentColor;
}

.modal__dev-text {
  color: $accent-color;
  color: $pagination-color;
  font-size: 13px;
  line-height: 1.33;
}
