.scrollToTopBtn {
  position: fixed;
  bottom: 70px;
  right: 30px;

  z-index: 10;
  opacity: 0;
  transform: translateY(100px);

  transition: all 0.1s ease;
  background-color: $footer-text-color;
  //   background-image: linear-gradient(#bdc3c7c4, #2c3e50ad);
  border: none;
  //   outline: white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  line-height: 48px;
  width: 48px;
}
.scrollToTopBtn:hover {
  background-color: $hover-rating-color;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
