//for js

.hide {
  display: none;
}

.show {
  display: block;
}

//__________________________________

button {
  display: inline-block;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  color: $title-color;
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: baseline;

  &__logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }
  &__title {
    display: none;
    margin-left: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: $title-color;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__list {
    display: flex;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 39px;
    }
  }
}

.logo {
  width: 24px;
  height: 24px;
}

//for js
.navigation__button--active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    width: 100%;
    height: 3px;
  }
}
//________________________________________________________

.search {
  width: 100%;
  margin-top: 40px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0 auto;
    margin-top: 40px;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid $title-color;
    background-color: transparent;
    outline: none;
    color: $title-color;

    &::placeholder {
      color: $title-color;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 12px;
  }
  &__svg {
    width: 100%;
    height: 100%;
  }

  //for js
  &__error {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.14;
    color: $alert-text-color;
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
}
//for js
.overlay {
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header_d_1x-min.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_d_2x-min.jpg');
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_t_1x-min.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_t_2x-min.jpg');
  }
}

@media screen and (max-width: 320px) {
  .overlay {
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_m_1x-min.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      height: 230px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header_m_2x-min.jpg');
    }
  }
}

.library-overlay {
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header_lb_d_1x-min.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_lb_d_2x-min.jpg');
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_lb_t_1x-min.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_lb_t_2x-min.jpg');
  }
}

@media screen and (max-width: 320px) {
  .library-overlay {
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header_lb_m_1x-min.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library-overlay {
      height: 230px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header_lb_m_2x-min.jpg');
    }
  }
}
//__________________________________________________________________

.library {
  margin-top: 49px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 45px;
  }

  &__btn {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $title-color;
    text-align: center;
    border: 1px solid $title-color;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      box-shadow: 5px 6px 4px 1px rgba(255, 107, 8, 0.21);
    }
  }

  &__btn--active {
    background: $hover-rating-color;
    border: none;
  }
}
